@import "fonts.css";
html,
body {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
  overflow-y: hidden;
  overflow: scroll;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 6em;
}
nav p {
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 500;
  margin: 0;
}
nav button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 100px;
  height: 40px;
  margin: 0;
}

nav button:hover {
  color: black;
}

@media screen and (max-width: 480px){
  html,
  body {
    overflow-x: hidden;
  }
  body {
    max-width: 100vw;
  }
  nav {
  padding: 2em 1.5em;
  }
 
  nav button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin: 0;
  }
}