@import "fonts.css";

#tracker-back-button {
    background-color: white;
    border: none;
    color: rgb(57, 57, 57);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 1% 2%;
    margin: 1%;
}

.spending-tracker-page{
    background-color:#f1f1f1;
    min-height: 100vh;
    overflow: scroll;
    width: 100vw;
    /* border: 2px solid red; */
    padding-bottom: 20px;
}

.spending-tracker-page h1{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: rgb(57, 57, 57);
}

.spending-tracker-flex-div {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.spending-tracker-titles {
    font-family: "Ubuntu", sans-serif;
    color: rgb(57, 57, 57);
    font-weight: 500;
    font-size: 30px;
    margin-top: 0;
}
#weekly-spending-chart {
    font-family: "Ubuntu", sans-serif;
    color: rgb(57, 57, 57);
    font-weight: 500;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.spending-form-div {
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    padding: 2% 4%;
    height: 50vh;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(57,57,57);
}

.spending-tracker-pie-chart-div {
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    padding: 2% 4%;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(57,57,57);
    text-align: center;
    height: 55vh;
}
.spending-form-div input, select{
   border: none;
   border-bottom: 2px solid grey;
   margin-bottom: 5%;
   outline: none;
}

#spending-submit {
    background-color: white;
    border: none;
    color: rgb(57, 57, 57);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 2% 3%;
    margin: 1%;
}

.table-container {
    width: 70vw; /* Adjust the width of the container */
    overflow-x: auto;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    margin-top: 5%;
}

table {
    width: 60vw;
    table-layout: fixed; /* Set table layout to fixed */
    border-collapse: collapse; /* Merge cell borders */
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #C9A7EB;
    border-radius: 20px;
  }

  th, td {
    text-align: center; /* Center align the table cells */
    padding: 15px;
    color: white;
  }
td {
    color: black;
}
